.bill-create {
    margin: 77px 0 0 -20px;
}

.header-sticky {
    position: sticky;
    top: 150px;
}

/* customer */

.bill-info-container {
    display: flex;
    justify-content: center;
}

.customer-info-bill {
    width: 50%;
    padding: 0 10px;
    border-right: 2px solid black;
}

.btn-custom {
    width: 300px;
    margin: 30px 100px;
    height: 50px;
    font-weight: bold;
}

.customer-bill {
    margin-top: 80px;
}

/* Add new product */

#createProducts > label {
    margin-top: 100px;
}

#product-list {
    padding-top: 10px;
}

#cke_product-description {
    display: none;
}

.show-editor {
    display: block !important;
}

.product_info__item__title {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
}

.product-container {
    padding-bottom: 20px;
    display: block;
}
.search-category {
    margin-top: 5px;
}
#search-category-body {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: hsla(0, 0%, 100%, 0.98);
    box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05),
        0 2px 7px 1px rgba(39, 44, 48, 0.16);
    padding: 0;
}

#search-category-body {
    max-height: 200px;
    overflow-y: scroll;
}
#search-category-body::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

#search-category-body li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
}

#search-category-body li:hover {
    background: #007bff;
}

#cke_product_description {
    display: none;
}

#product_description-show label {
    cursor: pointer;
}
