.table-wrapper {
    margin: 77px 0 0 -20px;
}

.header-sticky {
    position: sticky;
    top: 150px;
}

.tr {
    cursor: pointer;
}

.tr:hover {
    background: #ebf5fa;
}

#list-customer .table-wrapper {
    padding-top: 140px;
    padding-left: 20px;
}

.header {
    background: #fff;
    max-width: calc(100% - 210px) !important;
}
